.t1{font-size:auto;
    text align:auto;
    

}
img{width:400px

}
h1{ font-weight: bold;
    color: whitesmoke;
    

}

.back1{ background-color: brown;

}
p{ color:whitesmoke;

}
#back{ color: whitesmoke; 

}
#back{ color: whitesmoke;

}
.cap{ color: whitesmoke;

}