h1{ font-weight:bold;
    font-size:85px;
    text-align:center;
    text-decoration: initial;
    color:firebrick;
   
}
img{ width: 600px;
    display: block;
    margin: auto;

}
.back2{background-color: black;
    background-origin: top ;

}
.sidebar{ float:left;
    height: 100%;
    width: 10%;
    border-width: 5px;
    border-color: goldenrod;
    border-style:double;
    align-content: left;
    font-size:20px;
    font-weight: bolder;
    color: whitesmoke;
    
    
}
.maincontent{float:left;
    height: 100%;
    width: 90%;
    overflow:auto;
   
   

}

#cap1{ text-align: center;
    color:whitesmoke;

}



#link{ color:whitesmoke;

}